
body {
	background-image: url(imgs/battle-ground.jpg);
	background-size: cover;
}

#char2, #char1, #balls {
	margin-top: 20px;
	height: 150px; 
	width: 150px;
}
 

#char2, #char1 {
	position: relative;
}
#balls{
	float: right;
	transform: rotate(360);
	transition-duration: 100s;
	margin-right: 20px;
}
#logo {
	width: 100%;
	height: auto;
	display: block;
    margin: 0 auto;

}
#reset {
	position: absolute;
	margin-left: 300px;
}
#rset{
	background-color: red;
}
.select {
	height: 100px;
	width: auto;
}
#secretChar {
	background-color: black;
	margin-top: -38px;
	float: right;
}
#disabled {
	float: right;
}
#rules{
	color: black;
	text-align: center;
}